.user-profile{
    margin-top:150px;
    justify-items: center;
}


.tabs{
    display:flex;
    align-items: center;
    justify-content: start;
    width:1000px;
    height:100px;
    gap:20px;
    border-bottom:1px solid black;
}

.tabs button{
    padding:15px;
    border:none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    height:50px;
    opacity: 80%;
    cursor: pointer;
}

.tabs button:hover{
    opacity:100%;
}

.orders-btn{
    min-width:200px;
    display:flex;
    align-items: center;
    gap:10px;
}

.settings-btn{
    display:flex;
    align-items: center;
    gap:10px;
}

.logout-btn{
    display:flex;
    align-items: center;
    gap:10px; 
}

.tabs button:focus{
    background-color: orange;
    color:white;
}

.tab-logout{
    display:flex;
    justify-content: space-between;
    width:100%;
}

.user-content{
    margin-top:50px;
}

.order-content{
 gap:20px;
 display:flex;
 flex-direction: column;
}

.order-filter-div{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:3px;
}

#order-filter-button-div{
    width:100%;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.order-filter-button{
    width:100%;
    height:30px;
    border:1px solid;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#order-btn1:hover
{
    background-color: rgb(255, 193, 7) !important;
    color:white !important;
}

#order-btn2:hover{
    background-color:rgb(13, 202, 240) !important;
    color: white !important;
}

#order-btn3:hover{
    background-color:rgb(13, 110, 253) !important;
    color: white !important;
}

#order-btn4:hover{
    background-color:rgb(25, 135, 84) !important;
    color: white !important;
}


@media (max-width: 1055px){
    .user-profile,
    .tabs,
    .order-content,
    .order-card,
    .custom-hr{
        width:100%;
    }
}

@media (max-width: 600px){
    .tabs,
    .tab-logout{
        flex-direction: column;
        width:100%;
        border-bottom: none;
        gap:0;
    }

    .tabs{
        padding-bottom:30px;
    }

    .user-profile{
        margin-top:80px;
    }

    .orders-btn{
        width:100%;
    }

    
}


