.user-body nav {
  border-bottom: none;
}

.user-body{
    background-color: rgb(228, 230, 237);
}

.user-page {
  margin-top: 109px;
  justify-items: center;
}

#user-header {
  position:fixed;
  width: 100%;
  max-height: 400px;
  height:100%;
  background-color: rgba(15, 23, 42, 0.95);
  backdrop-filter: blur(8px);
  align-content: center;
  z-index: 200;
  color:white;
}

#user-content {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;
  height:100dvh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
#user-content .user-order-h2,
#user-content .user-settings-h2,
#user-content .user-settings-p,
#user-content .user-order-p{
  color:black;
}

#user-order {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: start;
  max-width: 400px;
  width:100%;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(165, 159, 159);
  text-align: left;
  cursor: pointer;
}

.order-image {
  background-color: hsl(28, 85%, 95%);
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#user-settings {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: start;
  max-width: 400px;
  width:100%;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(165, 159, 159);
  cursor: pointer;
}

#user-footer{
  display:flex;
  width:100%;
  background-color: rgb(210, 212, 213);
  justify-content: center;
}

@media (max-width: 860px){
  #user-order,
  #user-settings{
    width:100%;
    height:260px;
  }
}

@media (max-width: 400px){
  #user-content{
    flex-direction: column;
  }

  #user-content #user-order{
    margin-top:200px;
  }

}
