
body{
    background-color:rgb(225, 234, 241);
}
.product-grid{
    margin-top:10px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding:10px;
    gap:10px;
    row-gap: 30px;
}

.product-card{
    height:420px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-text{
    display:flex;
    flex-direction: column;
    overflow-y:hidden;
    text-align: start;
    padding-left:8px;
    padding-right:8px;
    line-height: 0.5;
    height:170px;
}

.product-add{
    width:90%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:10px;
}