
body{
    background-color:rgba(217, 217, 222, 0.438);
}

.product-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    padding:10px;
    gap:10px;
    row-gap: 30px;
}
.food-container{
    margin-top:110px;
    position: relative;
    width: 100%;
    height: 400px;
    justify-self: center;
    overflow: hidden;
}
#food-overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.55;
}

#food-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 1rem;
  z-index: 2;
}

.food-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*Home Search  search and icon inside div at productfilter.jsx div class not inside css file*/ 
.search{
    width:400px !important;
    height:40px !important;
    border-style:none !important;
    z-index:900;
}

.search-div{
    margin-top: 85px;
}
.search:focus{
    outline: none !important;
}
@media (max-width: 1000px){
    .food-container{
        margin-top:40px;
    }

    .search-div{
        margin-top:0;
    }
}
@media (max-width:360px){
    .product-grid{
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
}