.login-page{
    background-color: white;
    max-height:400px;
    max-width:500px;
    width:100%;
    height:100dvh;
    justify-self: center;
    align-content: center;
    margin-top:200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-page h3{
    display:flex;
    line-height: 0.5;
    font-size: 15px;
    margin-left:50px;
}

.login-page input{
    justify-self: center;
    width: 80%;
    height:30px;
    margin-bottom:20px;
    border-radius: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #5e5d5d;
    padding-left:5px;
}

.login-button{
    width:82%;
    height:40px;
    background-color: rgba(15, 23, 42, 0.95);
    color:white;
    border-style: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 630px) {
    .login-page{
        width:100%;
        place-items: center;
        margin-top:100px;
    }

    .login-page h3{
       justify-content: center;
       margin-left:0;
    }
}
