
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: rgb(128, 132, 242);
    height:150px;
    display:flex;
    gap:40px;
    align-items: center;
    justify-content: center;
    z-index:9999;
    border-bottom: 1px solid rgba(30, 58, 138, 0.5);
    background-color: rgba(15, 23, 42, 0.95); 
    backdrop-filter: blur(8px); 
}

.navbar-links{
    display: flex;
    gap:50px;
    -webkit-text-fill-color: rgb(212, 210, 210);
}

.navbar-links a{
    text-decoration: none;
}

.navbar-links a:hover{
    -webkit-text-fill-color: whitesmoke;
}

.navbar-left{
   position:static;
   -webkit-text-fill-color: whitesmoke;
}

.navbar-logo{
    text-decoration: none;
}
