
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:150px;
    display:flex;
    gap:40px;
    align-items: center;
    justify-content: center;
    z-index:9999;
    border-bottom: 1px solid rgba(30, 58, 138, 0.5);
    background-color: rgba(15, 23, 42, 0.95); 
    backdrop-filter: blur(8px); 
}

.navbar-links{
    display: flex;
    gap:50px;
    -webkit-text-fill-color: rgb(212, 210, 210);
}

.navbar-links a{
    text-decoration: none;
}

.navbar-links a:hover{
    -webkit-text-fill-color: whitesmoke;
}

.navbar-left{
   position:static;
   -webkit-text-fill-color: whitesmoke;
}

.navbar-logo{
    text-decoration: none;
}

#navbar-quantity{
    position:absolute;
    top:30px;
    margin-left:110px;
    width:17px;
    background-color: orange;
    -webkit-text-fill-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.hamburger{
    display:none;
}

@media (max-width: 1000px) {
  .navbar {
    height: 80px;
    justify-content: space-between;
  }

  .navbar-links {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: rgba(15, 23, 42, 0.98);
    display: none;
    z-index: 9998;
  }

  .navbar-links.open {
    display: flex;
  }

  #navbar-quantity{
    top:200px;
    left:490px;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    margin-right:40px;
  }

  .hamburger span {
    width: 28px;
    height: 3px;
    background: whitesmoke;
    border-radius: 2px;
  }

}