
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: rgb(128, 132, 242);
    height:150px;
    display:flex;
    gap:40px;
    align-items: center;
    justify-content: center;
    z-index:9999;
}

.navbar-links{
    display: flex;
    gap:50px;
}

.navbar-left{
   position:absolute;
   left:250px;   
}

.navbar-logo{
}