.product-details{
    margin-top:150px;
    display:grid;
    grid-template-areas: 
    "img info"
    "img extra-info";
    justify-content: center;
    gap:20px;
}

.details-img{
    grid-area: img;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    max-width: 100%;
}

/*Product info */
.product-info{
    display:flex;
    flex-direction: column;
    align-items:start;
    grid-area: info;
    width: 100%;
    max-width: 100%;
}

.product-brand{
    margin-bottom:0;
    font-size: 14px;
}
.product-info h1{
    margin-top:6px;
    margin-bottom:0;
    text-align: left;
}

.product-info p, h1{
    padding-left: 20px;
}

.product-attribute{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    margin-left:20px;
    width: 100%;
    max-width: 100%;
}

.product-attribute p{
    background-color: green;
    padding-left:0;
    padding:5px;
    font-size: 14px;
    color:white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#product-info-price{
   display:flex;
   align-items: center;
}

#weightText{
    margin-top:0;
    line-height: 0.1;
    font-size: 15px;
}

#add-details-button{
    margin-left:10px;
    margin-top:10px;
    width:200px;
    height:40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-style: none;
    cursor: pointer;
    background-color:orange;
    -webkit-text-fill-color: white;
    font-weight: bold;
}

#add-details-button:hover{
    opacity:95%;
}

#minus-details-button{
    margin-left:10px;
    margin-top:10px;
    width:200px;
    height:40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-style: none;
    cursor: pointer;
    background-color:orange;
    font-weight: bold;
}

#minus-details-button:hover{
    opacity:95%;
}


/*Extra info */
.product-extra-info{
    display:flex;
    flex-direction: column;
    align-items:start;
    grid-area: extra-info;
    width: 100%;
    max-width: 100%;
}

.product-extra-info p{
    display:flex;
    flex-direction: column;
    padding-left:20px;
    text-align: left;
    width: 100%;
    max-width: 100%;
}

.product-nutrition{
    margin-top:10px;
    background-color: white;
    margin-left:20px;
    padding:10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    max-width: 100%;
    text-align: left;
}

@media (max-width: 1000px) {
  .product-details {
    grid-template-areas:
      "img"
      "info"
      "extra-info";
  }

  .product-info,
  .product-extra-info,
  .product-nutrition{
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 730px){
  .details-img {
    width:100%;
    max-width:280px;
    justify-self: center;
  }

  .product-nutrition,
  .product-info,
  .product-extra-info{
    width:100vw;
  }

}
