.product-card{
    height:430px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: white;
}

.product-text{
    display:flex;
    flex-direction: column;
    overflow-y:hidden;
    text-align: start;
    padding-left:8px;
    padding-right:8px;
    line-height: 0.5;
    height:130px;
}

.product-add{
    width:90%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:10px;
    background-color: orange;
    border-color: orange;
    border-style:solid;
    color:white;
    font-size: 20px;
    cursor: pointer;
}

.product-add:hover{
    opacity: 95%;
}

.product-link{
    color:black;
    text-decoration: none;
}

.product-link:hover{
    text-decoration:underline;
}
.product-price{
    font-size: 20px;
    margin:0;
    padding:0;
    display:flex;
    padding-left:8px;
    padding-right:8px;
    margin-bottom:18px;
    font-weight: bold;
}