.product-card{
    height:420px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-text{
    display:flex;
    flex-direction: column;
    overflow-y:hidden;
    text-align: start;
    padding-left:8px;
    padding-right:8px;
    line-height: 0.5;
    height:170px;
}

.product-add{
    width:90%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:10px;
}

.product-link{
    color:black;
    text-decoration: none;
}

.product-link:hover{
    text-decoration:underline;
}