
.filter-container{
    height:100px;
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    width:100%;
    justify-self: center;
}

.category-menu {
    position:relative;
    display: inline-block;
}

.brand-select{
    appearance: solid;
    cursor: pointer;
    padding-left:5px;
    color:black;
}

.menu-dropdown {
    display: none;
    position:absolute;
    top: 40px;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    min-width: 220px;
    z-index: 9000;
    text-align: left;
}

.category-menu:hover .menu-dropdown {
    display: block;
}

.menu-item {
    padding: 8px 12px;
    position:relative;
    display:flex;
    cursor: pointer;
}

.menu-item span{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.menu-item:hover {
    background: #eee;
}

.menu-button{
    display:flex;
    width:100%;
    background-color: transparent;
    border:none;
}

#menu-button-div{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height:45px;
    width:160px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px none #5e5d5d; 
    cursor: pointer;
}

.menu-button-icon{
    width:19px;
    height:19px;
    margin-top:3px;
}

.submenu {
    display: none;
    position: absolute;
    left: 220px;
    top: 0;
    background: white;
    border: 1px solid #ddd;
    min-width: 220px;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu-item {
    padding: 8px 12px;
    position: relative;
    display:flex;
}

.submenu-item:hover {
    background: #eee;
}

.subsubmenu {
    display: none;
    position: absolute;
    left: 220px;
    top: 0;
    background: white;
    border: 1px solid #ddd;
    min-width: 220px;
}

.submenu-item:hover .subsubmenu {
    display: block;
}

.submenu:hover{
    display:block;
}

.subsubmenu:hover {
    display: block;
}

.subsubmenu-item {
    padding: 8px 12px;
    display: flex;
}

.subsubmenu-item:hover {
    background: #ddd;
}

#reset-filter{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height:45px;
    width:160px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px none #5e5d5d; 
    cursor: pointer;
    color:black;
}

.filter-container input{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px none #5e5d5d; 
    height:40px;
    width:160px;
    -webkit-text-fill-color: black;
}

.filter-container select{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px none #5e5d5d; 
    height:45px;
    width:160px;
    -webkit-text-fill-color: black;
}

.offer-div{
    display:flex;
    height:43px;
    width:160px;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: white;
    gap:5px;
}

#offer-checkbox{
    width:20px;
}



#filter-price::-webkit-outer-spin-button,
#filter-price::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.hamburger-filter{
    display:none;
}

@media (max-width: 1200px) {

  /* show hamburger */
  .hamburger-filter {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
  }

  .hamburger-filter span {
    width: 28px;
    height: 3px;
    background: black;
    border-radius: 2px;
  }

  
  .search-div{
    width:50%;
  }

  .menu-button{
    width:100%;
    justify-content: space-between;
    color:black;
  }

.category-menu,
.menu-item,
.submenu-item{
        flex-direction: column;
}

.menu-item span,
.submenu-item span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menu-item-arrow {
  transition: transform 0.2s ease;
}

.menu-item-arrow.open {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.menu-dropdown,
.submenu,
.subsubmenu{
    position:static;
}

  #filter-container-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right:20px;
  }

  #filter-container-header-text{
    padding-left: 20px;
  }

  .filter-container{
    gap:0;
  }

  /* hide filters by default */
  .category-menu,
  #filter-price,
  #reset-filter,
  .brand-select,
  .offer-div {
    display: none;
  }

  /* show filters when menu is open */
  .filter-container.open .category-menu,
  .filter-container.open #reset-filter,
  .filter-container.open .brand-select,
  .filter-container.open .price-div,
  .filter-container.open .offer-div
  {
    display: flex;
    z-index: 500;
    width:90%;
  }

  .filter-container.open #menu-button-div{
    display:flex;
    width:100%;
    z-index:500;
  }

    .filter-container.open #filter-price{
        display:flex;
        width:100%;
    }

  .filter-container.open {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height:fit-content;
    padding-bottom:10px;
  }
}