
.filter-container{
    height:100px;
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:100vw;
    justify-self: center;
}

.category-menu {
    position:relative;
    display: inline-block;
}


.menu-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: white;
    border: 1px solid #ddd;
    min-width: 220px;
    z-index: 9000;
    text-align: left;
}

.category-menu:hover .menu-dropdown {
    display: block;
}

.menu-item {
    padding: 8px 12px;
    position:relative;
    display:flex;
    cursor: pointer;
}

.menu-item span{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.menu-item:hover {
    background: #eee;
}

.submenu {
    display: none;
    position: absolute;
    left: 220px;
    top: 0;
    background: white;
    border: 1px solid #ddd;
    min-width: 220px;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu-item {
    padding: 8px 12px;
    position: relative;
    display:flex;
}

.submenu-item:hover {
    background: #eee;
}

.subsubmenu {
    display: none;
    position: absolute;
    left: 220px;
    top: 0;
    background: white;
    border: 1px solid #ddd;
    min-width: 220px;
}

.submenu-item:hover .subsubmenu {
    display: block;
}

.submenu:hover{
    display:block;
}

.subsubmenu:hover {
    display: block;
}

.subsubmenu-item {
    padding: 8px 12px;
    display: flex;
}

.subsubmenu-item:hover {
    background: #ddd;
}

.filter-container button{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height:45px;
    width:160px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #5e5d5d; 
    cursor: pointer;
}

.filter-container input{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #5e5d5d; 
    height:40px;
    width:160px;
    -webkit-text-fill-color: black;
}

.filter-container select{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #5e5d5d; 
    height:45px;
    width:160px;
    -webkit-text-fill-color: black;
}


#filter-price::-webkit-outer-spin-button,
#filter-price::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.hamburger{
    display:none;
}

@media (max-width: 1000px) {

  /* show hamburger */
  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
  }
  
  .search-div{
    width:50%;
  }

  #menu-button{
    width:100%;
    justify-content: space-between;
  }

  .menu-dropdown{
    top:160px;
  }

 

  #filter-container-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  #filter-container-header-text{
    padding-left: 20px;
  }

  /* hide filters by default */
  .category-menu,
  #filter-price,
  #reset-filter,
  .brand-select {
    display: none;
  }

  
  /* show filters when menu is open */
  .filter-container.open .category-menu,
  .filter-container.open #filter-price,
  .filter-container.open #reset-filter,
  .filter-container.open .brand-select {
    display: flex;
    z-index: 500;
    width:100%;
  }

  .filter-container.open #filter-price{
    width:99.5%;
  }

  .filter-container.open {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height:fit-content;
    padding-bottom:10px;
  }
}