.register-page{
    background-color: white;
    height: 600px;
    width:500px;
    justify-self: center;
    align-content: center;
    margin-top:200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.register-page input{
    height:35px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #5e5d5d;
    padding-left:5px;
}

.register-row{
    display: flex;   
    place-self: center;
    margin-bottom:20px;
    flex-direction: row;
    gap:20px;
    text-align: left;
    width:75%;
}

.register-row h3{
    font-size: 15px;
    line-height: 0.1;
    display:flex;
}


.register-column{
    display:flex;
    flex-direction: column;
    width:75%;
    place-self: center;
    gap:20px;
}

.register-column h3{
    font-size: 15px;
    line-height: 0.1;
    display:flex;
    margin:0;
}

.register-button{
    width:76%;
    height:40px;
    background-color: rgba(15, 23, 42, 0.95);
    color:white;
    border-style: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    margin-top:20px;
}

@media (max-width: 630px) {
     .register-page{
        width:100%;
        place-items: center;
        margin-top:100px;
        height:auto;
        padding-bottom: 20px;
    }  

    .register-row{
        flex-direction: column;
        gap:10px;
    }

    .register-row input{
        width:97%;
    }

}