.register-page{
    background-color: white;
    max-height: fit-content;
    max-width:500px;
    width:100%;
    height:100dvh;
    justify-self: center;
    align-content: center;
    margin-top:200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.register-page h1{
    width:fit-content;
    justify-self: center;
    padding:0;
}

.register-page input{
    height:35px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #5e5d5d;
    padding-left:5px;
    
}

.register-row{
    display: flex;   
    flex-direction: row;
    place-self: center;
    margin-bottom:20px;
    flex-direction: row;
    gap:20px;
    text-align: left;
}

.register-row h3{
    font-size: 15px;
    line-height: 0.1;
    display:flex;
}


.register-column{
    display:flex;
    flex-direction: column;
    width:75%;
    place-self: center;
    gap:20px;
}

.register-column h3{
    font-size: 15px;
    line-height: 0.1;
    display:flex;
    margin:0;
}

.register-button{
    width:75%;
    height:40px;
    background-color: rgba(15, 23, 42, 0.95);
    color:white;
    border-style: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    margin-top:20px;
}

@media (max-width: 630px) {
     .register-page{       
        margin-top:100px;
        padding-bottom: 20px;
        max-height:fit-content;
        justify-items: center;
    }  

    .register-row{
        flex-direction: column;
        gap:10px;
        width:75%;
        
    }

    .register-row-input{
        display: flex;
        flex-direction: column;      
    }

}