.register-page{
    background-color: white;
    height: 600px;
    width:500px;
    justify-self: center;
    align-content: center;
    margin-top:200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.register-page input{
    height:35px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #5e5d5d;
}

.register-row{
    display: flex;
    gap:40px;
    place-self: center;
    margin-bottom:20px;
}


.register-column{
    display:flex;
    flex-direction: column;
    width:75%;
    place-self: center;
    gap:20px;
}

.fh3{
   display:flex;
   justify-content: center;
   gap:240px;
   font-size: 13px;
   line-height: 0.1;
}

.register-column h3{
    font-size: 15px;
    line-height: 0.1;
    display:flex;
    margin:0;
}

.register-button{
    width:76%;
    height:40px;
    background-color: rgb(29, 95, 251);
    color:white;
    border-style: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    margin-top:20px;
}